<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>        
</head>
<body>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    <main class="index">
        <h1>Student Manager System</h1>
        <h6>Created by ltgk03</h6>
        <br>
        <div class = "container-fluid justify-content-center">
            <table class="table table-responsive table-hover table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Faculty</th>
                    <th scope="col">Major</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <tr>
                        <th scope = "row"><%= i + 1%></th>
                        <td><%= data[i].id %></td>
                        <td><%= data[i].fullname %></td>
                        <td><% var date = new Date(data[i].dob),
                               month = ("0" + (date.getMonth() + 1)).slice(-2),
                               day = ("0" + date.getDate()).slice(-2);%>
                            <%= [date.getFullYear(), month, day].join("-") %></td>
                        <td><%= data[i].faculty %></td>
                        <td><%= data[i].major %></td>
                        <td>
                            <button class="btn">Delete</button>
                            <button class="btn">Update</button>
                        </td>
                        </tr>
                    <% } %>
                </tbody>
              </table>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>
<script src="javascripts/index.js"></script>
<script src="javascripts/main.js"></script>
</html>


    

