<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <form action=<%=`/update/save/${infor[0].id}/${subjects.length}`%> method="post" id="form">
            <h3>Student Information</h3>
    
            <div class="">
                <label for="id" class="">ID</label>
                <input type="text" class=""aria-describedby="idHelp" name="id" value=<%= infor[0].id%> readonly>
            </div>
            <div class="mb-3">
                <label for="fullname" class="">Full Name</label>
                <input type="text" class="" name="fullname" aria-describedby="fullnameHelp" value=<%= infor[0].fullname%>>
                <div id="fullnameHelp" class="">Input must not have special character</div>
            </div>
            <div class="mb-3">
                <label for="dateofbirth" class="">Date of birth</label>
                <% { var date = new Date(infor[0].dob),
                month = ("0" + (date.getMonth() + 1)).slice(-2), 
                day = ("0" + date.getDate()).slice(-2); %>
                    <input type="date" class="" name="dob" aria-describedby="dobHelp" value=<%= [date.getFullYear(), month, day].join("-") %>>
                <% } %>
                <div id="dobHelp" class="">Date must be in range 01/01/2000 - 12/31/2004</div>
            </div>   
            
            <div class="mb-3">
                <label for="faculty" class="">Faculty</label>
                <input type="text" class="" name="faculty" value=<%= infor[0].faculty%>>
            </div>   

            <div class="mb-3">
                <label for="major" class="">Major</label>
                <input type="text" class="" name="major" value=<%= infor[0].major%>>
            </div>   

            <h3>Academic Transcript</h3>
            <div id="subjects">
                <% for (let i = 0; i < subjects.length; i++) {%>
                    <label for="subjectname">Subject Name</label>
                    <input type="text" name=<%=`subjectname${i + 1}`%> value=<%=subjects[i].subjectname%>>
                    <label for="subjectcode">Subject Code</label>
                    <input type="text" name=<%=`subjectcode${i + 1}`%> value=<%=subjects[i].codeid%>>
                    <label for="numberofcredit">Number of credits</label>
                    <input type="text" name=<%=`numberofcredit${i + 1}`%> value=<%=subjects[i].numberofcredit%>>
                    <label for="mark">Mark</label>
                    <input type="text" name=<%=`mark${i + 1}`%> value=<%=subjects[i].mark%>>
                <% }; %>
                <%= %>
                </div>
            </div>
            <button id="addsubject" type="button">Add Subject</button>    
        <button id="save" class="btn" type="submit">Save</button>
    </form>
    <button id="back" class="btn">Back</button>  
    </main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
<script src="javascripts/update.js"></script>
<script src="javascripts/main.js"></script>
</html>